<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="2.0" package="com.pantech.res" platformBuildVersionCode="23" platformBuildVersionName="6.0-MM_60-EF71_MM">
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="23" />
	<application android:debuggable="false" android:label="Scom Sys" />
</manifest>
